body {  
    font-family: Arial, sans-serif;
    background-color: #8c8c8c;
    display:flex;
    justify-content: center;
    align-items:center;
    min-height: 100vh;
    margin:0;
}

.container {
    background-color: #d4d4d4;
    color: #333;
    border-radius: 10px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.3);
    padding: 20px;
    width: 90%;
    max-width: 400px;
}

h1 {
    text-align: center;
    color: #333;
}

.input-section {
    display:flex;
    gap:8px;
    margin-top: 10px;
}

#taskInput {
   flex:1;
   padding:10px;
   border: none;
   border-radius: 6px;
   font-size: 16px;
}

#taskInput:focus {
    outline: 2px solid #007bff;
}

#addTaskBtn {
    padding-inline-start: 10px 16px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    font-weight: bold;
    transition: 0.3s;
}

#addTaskBtn:hover {
    background-color: #0056b3;
}

#taskList {
   list-style: none;
   padding: 0;
   margin-top: 20px;
}

#taskList li {
    background-color:#f9f9f9;
    margin-bottom: 12px;
    border-radius: 6px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 10px 15px;
    transition: transform 0.2s ease;
    word-break: break-word;
    white-space: no-wrap;
}

#taskList li:hover {
    transform: scale(1.02);
}

#taskList li span {
    flex: 1;
    margin-right: 10px;
    display: inline-block;
    white-space: normal;
    overflow-wrap: break-word;
}

.remove-btn {
    background-color: #dc3545;
    color: white;
    border: none;
    padding: 6px 16px;
    border-radius: 6px;
    cursor: pointer;
    font-weight: bold;
    transition: 0.3s;
}

.remove-btn:hover {
    background-color: #b02a37;
}

@media (max-width: 480px) {
    .input-section {
        flex-direction: column;
    }
}

#addTaskBtn {
    width:100%;
}

